@model course1Folder.Models.ProfileModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="profileNick" data-user-id="@Model.User.Id">@Model.User.Nickname</h2>
<script type="text/template" id="ComTemplate">
    @Html.Raw(Html.Partial("_commentTemplate"))
</script>

<div class="sortByContainer container">
    <div class="categotyLayer inline">Сортировать по:</div>
    <div class="newestProf inline activeSortMode modes"> Новизне </div>
    <div class="moreLikedProf inline modes"> Лайкам </div>
</div>

<div id="MainContainer">
   @Html.Partial("~/Views/Post/_MorePostsView.cshtml", Model.UserPosts)
</div>
@if (Model.UserPosts.NextExist)
{
    <a href="javascript:void(0);" class="next_link nextNewestProf">Next...</a>
}

<!-- Modal -->
<div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
        </div>

    </div>
</div>