@model course1Folder.Models.FeedModel

@if (Model.Posts != null)
{

    if (Model.Posts.Count != 0) {
        foreach (var post in Model.Posts)
        {
            Html.RenderPartial("_PostView", post);
        }
    }else
    {
        <h3>У ваших подписок нет постов</h3>
    }
}
else
{
   <h3>У вас нет подписок</h3> 
}

<script>
    ExistInit('@(Model.NextExist?1:0)')
</script>
