@model course1Folder.Models.FeedModel

<script type="text/template" id="ComTemplate">
    @Html.Raw(Html.Partial("_commentTemplate"))
</script>
<style>
    .modes{
        margin-left:15px;
    }
    .exactlyNumberOfLikes {
        display: inline-block;
    }

    .PostWrapper {
        display: inline-block;
    }

    .Img_Preview {
        max-width: 150px;
        max-height: 150px;
        border-radius: 15px;
        cursor: crosshair;
    }

        .Img_Preview:hover {
            border: 2px dashed red;
        }

    .PostDiv {
        border: 2px blue solid;
    }
</style>

<div class="sortByContainer container">
    <div class="categotyLayer inline">Сортировать по:</div>
    <div class="newest inline activeSortMode modes"> Новизне </div>
    <div class="moreLiked inline modes"> Лайкам </div>
</div>


<div id="MainContainer" class="container">
    @Html.Partial("_MorePostsView", Model)
</div>

@if (Model.NextExist)
{
    <a href="javascript:void(0);" class="next_link nextNewest">Next...</a>
}


<!-- Modal -->
<div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
        </div>

    </div>
</div>

